@model AppGestionEMS.Models.Evaluaciones

@{
    ViewBag.Title = "Detalles mi evaluación";
}
<div class="container container-fluid">
    <h2>Detalles mi evaluación</h2>

    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Curso.Cod_Curso)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Curso.Cod_Curso)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.NameSurname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Convocatoria)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Convocatoria)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Trabajo1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Trabajo1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Trabajo2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Trabajo2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Trabajo3)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Trabajo3)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Test)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Test)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Practica)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Practica)
            </dd>

        </dl>
    </div>
    <p>
          <span>
            <a href="@Url.Action("Index", "MisEvaluaciones")" class="btn btn-primary">
                <span class="fa fa-undo fa-lg"></span>
                Volver a la lista
            </a>
        </span>
    </p>
</div>