@model AppGestionEMS.Models.Cursos

@{
    ViewBag.Title = "Borrar curso";
}

<div class="container container-fluid">

    <h2>Borrar curso</h2>

    <h3>¿Estás seguro que quieres borrar esta información?</h3>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Cod_Curso)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cod_Curso)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Actual)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Actual)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <div class="form-actions no-color">
                <button type="submit" class="btn btn-danger">
                    <i class="fa fa-trash-o fa-lg"></i> Borrar
                </button>
                <span>
                    <a href="@Url.Action("Index", "Cursos" )" class="btn btn-primary">
                        <span class="fa fa-undo fa-lg"></span>
                        Volver a la lista
                    </a>
                </span>

            </div>
        }
    </div>
</div>