@model AppGestionEMS.Models.Cursos

@{
    ViewBag.Title = "Editar curso";
}
<div class="container container-fluid">

    <h2>Editar curso</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Cod_Curso, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Cod_Curso, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Cod_Curso, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Actual, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Actual, new { htmlAttributes = new { @class = "" } })
                    @Html.ValidationMessageFor(model => model.Actual, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-check-square-o fa-lg"></i> Guardar
                    </button>
                </div>
            </div>
        </div>
    }

    <div>
        <span>
            <a href="@Url.Action("Index", "Cursos" )" class="btn btn-primary">
                <span class="fa fa-undo fa-lg"></span>
                Volver a la lista
            </a>
        </span> 
    </div>
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
