@{
    ViewBag.Title = "Página de inicio";
}

<div id="header">
    <section class="slider">
        <div class="flexslider">

            <ul class="slides">
                <li class="slider-item" style="background-image: url('/Content/images/slider/uno.jpg')">
                    <div class="intro container">
                        <div class="container-overlay">
                            <h1>ETSISI EM-Agency</h1>
                            <h2>Lorem Ipusum</h2>
                            <h4>Lorem Ipusum </h4>
                            <h4>Lorem Ipusum</h4>
                        </div>
                    </div>
                </li> <!-- /.slider-item -->
            </ul> <!-- /.slides -->
        </div> <!-- /.flexslider -->
    </section> <!-- /.slider -->

</div> <!-- /#header -->

<hr />

<div class="container container-fluid">
    <div class="row">
        <div class="scrollpost col-sm-4 col-xs-12 col-md-4 col-lg-4 px-0">
            <div class="featured-box">
                <div class="featured-icon">
                    <a href="@Url.Action("Index", "Cursos" )"><i class="fa fa-book fa-2x"></i></a>
                </div>
                <div class="featured-content">
                    <h4>
                        Cursos
                    </h4>
                    <p>
                        Gestión de cursos
                    </p>
                </div>
            </div>
        </div>
        <div class="scrollpost col-sm-4 col-xs-12 col-md-4 col-lg-4 px-0">
            <div class="featured-box">
                <div class="featured-icon">
                    <a href="@Url.Action("Index", "GrupoClases" )"><i class="icon-008-flight"></i></a>
                </div>
                <div class="featured-content">
                    <h4>
                        Grupo clases
                    </h4>
                    <p>
                        Grupo clases
                    </p>
                </div>
            </div>
        </div>
        <div class="scrollpost col-sm-4 col-xs-12 col-md-4 col-lg-4 px-0">
            <div class="featured-box">
                <div class="featured-icon">
                    <a href="@Url.Action("Index", "AsignacionDocentes" )"><i class="icon-006-train"></i></a>
                </div>
                <div class="featured-content">
                    <h4>
                        Asignación docentes
                    </h4>
                    <p>
                        Asignación docentes
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="scrollpost col-sm-4 col-xs-12 col-md-4 col-lg-4 px-0">
            <div class="featured-box">
                <div class="featured-icon">
                    <a href="@Url.Action("Index", "Matriculas" )"><i class="icon-005-hotel"></i></a>
                </div>
                <div class="featured-content">
                    <h4>
                        Matriculas
                    </h4>
                    <p>
                        Matriculas
                    </p>
                </div>
            </div>
        </div>
        <div class="scrollpost col-sm-4 col-xs-12 col-md-4 col-lg-4 px-0">
            <div class="featured-box">
                <div class="featured-icon">
                    <a href="@Url.Action("Index", "Evaluaciones" )"><i class="icon-004-camping"></i></a>
                </div>
                <div class="featured-content">
                    <h4>
                        Evaluaciones
                    </h4>
                    <p>
                        Evaluaciones
                    </p>
                </div>
            </div>
        </div>
        <div class="scrollpost col-sm-4 col-xs-12 col-md-4 col-lg-4 px-0">
            <div class="featured-box">
                <div class="featured-icon">
                    <a href="@Url.Action("Index", "MisEvaluaciones" )"><i class="icon-003-cottage"></i></a>
                </div>
                <div class="featured-content">
                    <h4>
                        Mis evaluaciones
                    </h4>
                    <p>
                        Mis evaluaciones
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="scrollpost col-sm-4 col-xs-12 col-md-4 col-lg-4 px-0">
        </div>
        <div class="scrollpost col-sm-4 col-xs-12 col-md-4 col-lg-4 px-0">
            <div class="featured-box">
                <div class="featured-icon">
                    <a href="@Url.Action("Index", "Cruceroes" )"><i class="icon-002-ship"></i></a>
                </div>
                <div class="featured-content">
                    <h4>
                        Cruise
                    </h4>
                    <p>
                        Cruise Management
                    </p>
                </div>
            </div>
        </div>
        <div class="scrollpost col-sm-4 col-xs-12 col-md-4 col-lg-4 px-04">
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="bloquemargen">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <a href="@Url.Action("Index", "AsignacionDocentes" )">
                            <img src="/Content/images/evaluaciones.jpg" alt="Rounded Image" class="rounded img-raised img-fluid ">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="@Url.Action("Index", "AsignacionDocentes" )">
                            <h4 class="title">
                                Asignación docentes
                            </h4>
                        </a>
                        <p>Actualiza los docentes de cada curso y grupo</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bloquemargen">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <a href="@Url.Action("Index", "Matriculas" )">
                            <img src="/Content/images/evaluaciones.jpg" alt="Rounded Image" class="rounded img-raised img-fluid ">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="@Url.Action("Index", "Matriculas" )">
                            <h4 class="title">
                                Matrículas
                            </h4>
                        </a>
                        <p>Actualiza los alumnos matriculados en cada curso y grupo</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bloquemargen">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <a href="@Url.Action("Index", "Evaluaciones" )">
                            <img src="/Content/images/evaluaciones.jpg" alt="Rounded Image" class="rounded img-raised img-fluid ">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="@Url.Action("Index", "Evaluaciones" )">

                            <h4 class="title">
                                Evaluaciones
                            </h4>
                        </a>
                        <p>Actualiza los resultados de la evaluación de los alumnos matriculados en cada curso y grupo</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bloquemargen">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <a href="@Url.Action("Index", "MisEvaluaciones" )">
                            <img src="/Content/images/misevaluaciones.jpg" alt="Rounded Image" class="rounded img-raised img-fluid ">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="@Url.Action("Index", "MisEvaluaciones" )">
                            <h4 class="title">
                                Mis evaluaciones
                            </h4>
                        </a>
                        <p>Consulta el resultado de las evaluaciones de un alumno</p>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>

<script type="text/javascript">

                $(function () {
                    SyntaxHighlighter.all();
                });
                $(window).load(function () {
                    $('.flexslider').flexslider({
                        animation: "slide",
                        slideshowSpeed: 400,
                        start: function (slider) {
                            $('body').removeClass('loading');
                        }
                    });
                });


</script>