@{
    ViewBag.Title = "Página de inicio";
}

<div id="header">
    <section class="slider">
        <div class="flexslider">

            <ul class="slides">
                <li class="slider-item" style="background-image: url('/Content/images/slider/uno.jpg')">
                    <div class="intro container">
                        <div class="container-overlay">
                            <h1>ETSISI EM-Agency</h1>
                            <h2>Gestión integral de Notas</h2>
                            <h3>Toda la información para el profesor y el alumno a un click</h3>
                        </div>
                    </div>
                </li> <!-- /.slider-item -->
                <li class="slider-item" style="background-image: url('/Content/images/slider/dos.jpg')">
                    <div class="intro container">
                        <div class="container-overlay">
                            <h1>ETSISI EM-Agency</h1>
                            <h2>Gestión integral de Notas</h2>
                            <h3>Toda la información para el profesor y el alumno a un click</h3>
                        </div>
                    </div>
                </li> <!-- /.slider-item -->
            </ul> <!-- /.slides -->
        </div> <!-- /.flexslider -->
    </section> <!-- /.slider -->

</div> <!-- /#header -->

<hr />

<div class="container container-fluid">

    <div class="row">
        <div class="col-md-6">
            <div class="bloquemargen">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <a href="@Url.Action("Index", "AsignacionDocentes" )">
                            <img src="/Content/images/docentes.jpg" alt="Rounded Image" class="rounded img-raised img-fluid ">
                        </a>
                    </div>
                    <div class="col-md-6"></br></br></br></br>
                        <a href="@Url.Action("Index", "AsignacionDocentes" )">
                            <h3 class="title">
                                Asignación docentes
                            </h3>
                        </a>
                        <p>Actualiza los docentes de cada curso y grupo</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bloquemargen">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <a href="@Url.Action("Index", "Matriculas" )">
                            <img src="/Content/images/matriculas.jpg" alt="Rounded Image" class="rounded img-raised img-fluid ">
                        </a>
                    </div>
                    <div class="col-md-6"></br></br></br></br>
                        <a href="@Url.Action("Index", "Matriculas" )">
                            <h3 class="title">
                                Matrículas
                            </h3>
                        </a>
                        <p>Actualiza los alumnos matriculados en cada curso y grupo</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bloquemargen">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <a href="@Url.Action("Index", "Evaluaciones" )">
                            <img src="/Content/images/evaluaciones.jpg" alt="Rounded Image" class="rounded img-raised img-fluid ">
                        </a>
                    </div>
                    <div class="col-md-6"></br></br></br></br>
                        <a href="@Url.Action("Index", "Evaluaciones" )">

                            <h3 class="title">
                                Evaluaciones
                            </h3>
                        </a>
                        <p>Actualiza los resultados de la evaluación de los alumnos matriculados en cada curso y grupo</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bloquemargen">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <a href="@Url.Action("Index", "MisEvaluaciones" )">
                            <img src="/Content/images/misevaluaciones.jpg" alt="Rounded Image" class="rounded img-raised img-fluid ">
                        </a>
                    </div>
                    <div class="col-md-6"></br></br></br></br>
                        <a href="@Url.Action("Index", "MisEvaluaciones" )">
                            <h3 class="title">
                                Mis evaluaciones
                            </h3>
                        </a>
                        <p>Consulta el resultado de las evaluaciones de un alumno</p>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>

<script type="text/javascript">

                $(function () {
                    SyntaxHighlighter.all();
                });
                $(window).load(function () {
                    $('.flexslider').flexslider({
                        animation: "slide",
                        slideshowSpeed: 400,
                        start: function (slider) {
                            $('body').removeClass('loading');
                        }
                    });
                });


</script>