@model AppGestionEMS.Models.AsignacionDocentes

@{
    ViewBag.Title = "Borrar asignación docente";
}
<div class="container container-fluid">

    <h2>Borrar asignación docente</h2>

    <h3>¿Estás seguro que quieres borrar esta información?</h3>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Curso.Cod_Curso)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Curso.Cod_Curso)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GrupoClases.Cod_Grupo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GrupoClases.Cod_Grupo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.NameSurname)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <button type="submit" class="btn btn-danger">
                    <i class="fa fa-trash-o fa-lg"></i> Borrar
                </button>
                <span>
                    <a href="@Url.Action("Index", "AsignacionDocentes" )" class="btn btn-primary">
                        <span class="fa fa-undo fa-lg"></span>
                        Volver a la lista
                    </a>
                </span>

            </div>



        }
    </div>
</div>